/* Box Sizing To All
------------------------------------------ */
.fxb-add-row, .fxb-add-row *, .fxb-add-row *:before, .fxb-add-row *:after,
#fxb, #fxb *, #fxb *:before, #fxb *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Elements
------------------------------------------ */
.fxb-clear:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.fxb-left{
	float: left;
}
.fxb-right{
	float: right;
}
.fxb-icon{
	display: block;
	padding: 10px;
	border-right: 1px solid #555;
	float: left;
}
.fxb-right .fxb-icon{
	border-right: none;
	border-left: 1px solid #555;
}
#fxb .fxb-icon{
	box-sizing: content-box;
}
.fxb-link{
	cursor: pointer;
}
.fxb-grab{
	cursor: grab;
}


/* Menu
------------------------------------------ */
.fxb-add-row{
	margin-top: 20px;
	padding: 0;
	width: 100%;
}
.fxb-add-row:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.layout-thumb-wrap{
	background: #fff;
	display: block;
	width: 16.6%;
	float: left;
	padding: 10px 30px;
	border: 1px solid #e5e5e5;
	border-right: 0;
}
.layout-thumb-wrap:last-child{
	border-right: 1px solid #e5e5e5;
}
.layout-thumb{
	background: #fff;
	display: block;
	float: left;
	width: 100%;
	padding: 0;
	border: 1px solid #e5e5e5;
}
.layout-thumb:hover{
	border-color: #bbb;
}
.layout-thumb img{
	display: block;
	float: left;
	width: 100%;
	max-width: 100%;
	height: auto;
}
/* Hide Bottom Add Row */
.fxb-add-row[data-add_row_method="append"]{
	display: none;
}

/* Page Builder
------------------------------------------ */
#fxb{
	margin-top: 20px;
}


/* Rows
------------------------------------------ */
.fxb-row{
	background: #F5F5F5;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
}
.fxb-row-menu{
	background: #23282D;
	color: #bbb;
}
.fxb-row-menu .fxb-link:hover{
	color: #fff;
}
/* State */
.fxb-row[data-state="close"] .fxb-row-content{
	display: none;
}
.fxb-row[data-state="close"] .fxb-toggle-row:before{
	content: "\f140";
}
/* Sortable Placeholder */
.fxb-row.ui-sortable-placeholder{
	border: 1px dashed #ccc;
	visibility: visible !important;
	background: transparent;
}
/* Row Menu */
.fxb-row-menu .fxb-left{
	width: calc( 100% - 125px);
}
/* Index */
.fxb_row_index:before{
	content: attr(data-row-index);
}
/* Title */
.fxb_row_title{
	display: block; /* can't use inline or inline-block */
	overflow: hidden;
	white-space: nowrap;
	border-right: 0;
	text-overflow: ellipsis;
	max-width: calc( 100% - 90px );
}
.fxb_row_title:before{
	content: attr(data-row-title);
}

/* Columns
------------------------------------------ */
.fxb-col{
	padding: 10px;
	float: left;
}
/* Col Visibility */
.fxb-row[data-col_num="1"] .fxb-col:nth-child(2),
.fxb-row[data-col_num="1"] .fxb-col:nth-child(3),
.fxb-row[data-col_num="1"] .fxb-col:nth-child(4){
	display: none;
}
.fxb-row[data-col_num="2"] .fxb-col:nth-child(3),
.fxb-row[data-col_num="2"] .fxb-col:nth-child(4){
	display: none;
}
.fxb-row[data-col_num="3"] .fxb-col:nth-child(4){
	display: none;
}
/* Col Order: r2l*/
.fxb-row[data-col_order="r2l"] .fxb-col{
	float: right;
}
/* Col Width Based on Layout */
.fxb-row[data-layout="1"] .fxb-col{
	width: 100%;
}
.fxb-row[data-layout="12_12"] .fxb-col{
	width: 50%;
}
.fxb-row[data-layout="13_23"] .fxb-col:nth-child(1){
	width: 33.33%;
}
.fxb-row[data-layout="13_23"] .fxb-col:nth-child(2){
	width: 66.66%;
}
	/* Col Order: R2L */
	.fxb-row[data-layout="13_23"][data-col_order="r2l"] .fxb-col:nth-child(1){
		width: 66.66%;
	}
	.fxb-row[data-layout="13_23"][data-col_order="r2l"] .fxb-col:nth-child(2){
		width: 33.33%;
	}
.fxb-row[data-layout="23_13"] .fxb-col:nth-child(1){
	width: 66.66%;
}
.fxb-row[data-layout="23_13"] .fxb-col:nth-child(2){
	width: 33.33%;
}
	/* Col Order: R2L */
	.fxb-row[data-layout="23_13"][data-col_order="r2l"] .fxb-col:nth-child(1){
		width: 33.33%;
	}
	.fxb-row[data-layout="23_13"][data-col_order="r2l"] .fxb-col:nth-child(2){
		width: 66.66%;
	}
.fxb-row[data-layout="13_13_13"] .fxb-col{
	width: 33.33%;
}
.fxb-row[data-layout="14_14_14_14"] .fxb-col{
	width: 25%;
}

/* Col Title */
.fxb-col-title{
	color: #555;
	font-weight: 400;
	text-align: center;
	border-top: 1px solid #ccc;
	margin: 10px 0 0 0;
	font-size: 14px;
	line-height: 1em;
}
.fxb-col-title span{
	top: -10px;
	position: relative;
	background: #F5F5F5;
	padding: 0 10px;
}
/* Add Item */
.fxb-add-item{
	background-color: #fff;
	border: 1px solid #dfdfdf;
	clear: both;
	height: 36px;
}
.fxb-add-item:hover{
	border-color: #bbb;
}
.fxb-add-item:before{
	color: #1bc865;
	content: "\f502";
	display: block;
	font: 24px/36px dashicons;
	text-align: center;
}
.fxb-add-item span{
	display: none;
	overflow: hidden;
	text-indent: -9999px;
	white-space: nowrap;
}

/* Items
------------------------------------------ */
/* Container */
.fxb-col-content{
	padding: 10px 0 0 0;
}
.fxb-item.ui-sortable-placeholder{
	border: 1px dashed #ccc;
	visibility: visible !important;
	background: transparent;
}
/* Item */
.fxb-item{
	border: 1px solid #d9d9d9;
	background: #fff;
	margin-bottom: 10px;
}
.fxb-item-menu{
	background: #eee;
	color: #aaa;
}
.fxb-item-menu .fxb-icon{
	border-color: #d9d9d9;
}
.fxb-item-menu .fxb-link:hover{
	color: #444;
}
/* Index */
.fxb_item_index:before{
	content: attr(data-item-index);
}
/* State */
.fxb-item[data-item_state="close"] .fxb-item-content{
	display: none;
}
.fxb-item[data-item_state="close"] .fxb-toggle-item:before{
	content: "\f140";
}
.fxb-item-content{
	padding: 0;
	position: relative;
}
/* Iframe overlay */
.fxb-item-iframe-overlay{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.fxb-item-iframe-overlay:after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 50px; /* Line height */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 100%);
}
/* Iframe */
.fxb-item-iframe{
	width: 100%;
	height: auto;
	min-height: 150px;
}
/* Textarea */
.fxb-item-textarea{
	display: none;
}


/* Modal (Settings)
------------------------------------------ */
.fxb-modal-overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 100050;
	background: rgba(0,0,0,0.7);
	overflow: hidden;
}
	.fxb-modal-stop-scoll{
		overflow: hidden;
		height: 100%;
	}
.fxb-modal{
	color: #444;
	font-size: 14px;
	position: fixed;
	left: 50%;
	top: 50%;
	max-width: 100%;
	max-height: 100%;
	border: none;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
	z-index: 100100;
	overflow: visible;
	background: #fff;
	transform: translate(-50%, -50%);
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.fxb-modal *,.fxb-modal *:before,.fxb-modal *:after {
	-moz-box-sizing:inherit;
	-webkit-box-sizing:inherit;
	box-sizing:inherit;
}
.fxb-modal-title{
	position: relative;
	display: block;
	padding: 10px 36px 10px 10px;
	margin: 0;
	font-size: 14px;
	line-height: 1em;
	font-weight: 600;
	border: none;
	border-bottom: 1px solid #dfdfdf;
	background: #fcfcfc;
}
	.fxb-modal-close{
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		padding: 10px;
		margin: 0;
		border: none;
		cursor: pointer;
		color: #fff;
		background: #1BC865;
	}
	.fxb-modal-close:hover{
		color: #fff;
		background: #2CDD76;
	}
.fxb-modal-content{
	position: relative;
	display: block;
	padding: 15px;
	border: none;
	margin: 0;
	overflow: auto;
}

/* Modal Field
------------------------------------------ */
.fxb-modal-field{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dfdfdf;
}
.fxb-modal-field:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Text */
.fxb-modal-field-text label{
	float: left;
	display: block;
	font-weight: 600;
}
.fxb-modal-field-text input{
	float: right;
	width: 50%;
}
/* Select */
.fxb-modal-field-select label{
	float: left;
	display: block;
	font-weight: 600;
}
.fxb-modal-field-select select{
	float: right;
	width: 50%;
}
/* Media Queries */
@media screen and (max-width: 500px) {
	.fxb-modal-field-text label,
	.fxb-modal-field-select label{
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	.fxb-modal-field-text input,
	.fxb-modal-field-select select{
		float: none;
		width: 100%;
	}
}


/* Media Queries
------------------------------------------ */
/* Add Rows */
@media screen and (max-width: 1200px) {
	.layout-thumb-wrap{
		padding: 20px;
	}
}
@media screen and (max-width: 500px) {
	.layout-thumb-wrap{
		width: 33.3%;
		padding: 20px;
	}
	.layout-thumb-wrap:nth-child(6){
		border-right: 0;
	}
	.layout-thumb-wrap:nth-child(1),
	.layout-thumb-wrap:nth-child(2),
	.layout-thumb-wrap:nth-child(3){
		border-bottom: none;
	}
}
@media screen and (max-width: 400px) {
	.layout-thumb-wrap{
		padding: 10px;
	}
}
/* Cols */
@media screen and (max-width: 1200px) {
	#post-body.columns-2 .fxb-col{
		width: 100% !important;
	}
}
@media screen and (max-width: 765px) {
	#post-body.columns-1 .fxb-col{
		width: 100% !important;
	}
}

