.fxb-nav-tools{
	font-size: 14px;
	float: right;
	text-decoration: none;
	padding: 5px 10px;
	background: #F5F5F5;
	border: 1px solid #ccc;
	color: #555;
	font-weight: 400;
	margin-right: 10px;
	display: none;
}
.rtl .fxb-nav-tools{
	float: left;
	margin-right: 0;
	margin-left: 10px;
}
.fx_builder_active .fxb-nav-tools{
	display: block;
}
.fxb-nav-tools:hover,
.fxb-nav-tools:focus{
	color: #222;
	background: #eee;
}
.fxb-nav-tools span:before{
	content: "\f107";
	font-family: "dashicons";
	vertical-align: top;
	margin-right: 5px;
	-webkit-font-smoothing: antialiased;
}
/* Modal */
.fxb-tools.fxb-modal .fxb-modal-content{
	padding-top: 5px;
}
.fxb-tools.fxb-modal .wp-tab-panel{
	max-height: none;
}
.fxb-tools.fxb-modal .fxb-tools-panel textarea{
	margin-top: 15px;
	width: 100%;
	height: 200px;
	display: block;
	max-height: 100%;
	font-family: Consolas,Monaco,monospace;
	direction: ltr;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
	.fxb-nav-tools{
		padding: 8px 10px;
		margin: 10px 10px 0 0;
	}
}
@media only screen and (max-width: 390px) {
	.fxb-nav-tools span:before{
		content: "";
		margin-right: 0;
	}
}

